input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 10px; /* Some padding */ 
  border: 1px solid #e9bbd7; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 10px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: white;
  color: orange;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: red;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: orange;
  padding: 50px;
  height: 45%;
  width: 50%;
  margin-left: 300px;
}

body{
    
  background-image: url('b.jpg'),linear-gradient(to right,white , white);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow:hidden;
}

.captured{
  display: block;
  margin-left: auto;
  margin-right:auto;
  width: 35%;
  margin: top 10px;
}
